{% extends 'base.html.twig' %}

{% block title %}Mon Compte
{% endblock %}

{% block body %}

	<div class="container pt-5">
		<h1>Mon compte</h1>

		Bienvenue
		{{ app.user.firstname }}
		<br/><br/>
		<div class="card-group">
			{% if is_granted('ROLE_ADMIN') %}
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">
							<a href="/admin" target="_blank">Administrateur</a>
						</h5>
					</div>
				</div>
			{% endif %}
			<div class="card">
				<div class="card-body">
					<h5 class="card-title"><a href="{{ path('app_account_password') }}">Changement de mot de passe</a></h5>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title"><a href="{{ path('account_address') }}" >Adresse</a></h5>
				</div>
			</div>
		</div>


	</div>
{% endblock %}
