{% extends 'base.html.twig' %}

{% block title %}Mon Compte - Mot de passe{% endblock %}

{% block body %}
<div class="container pt-5">
{% if notification %}
    <div class="alert alert-info">{{ notification }}</div>
{% endif %}
    <h1>Mot de passe</h1>
    {{ form(form) }}
</div>

{% endblock %}