{% extends 'base.html.twig' %}

{% block title %}Nos produits
{% endblock %}

{% block body %}

<div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">
                <!-- Price Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filtrer</span></h5>
                <div class="bg-light p-4 mb-30">
                    {{ form(form) }}
                </div>
            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">

                    {% for product in products %}
                        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            {{ include('product/single_product.html.twig') }}
                        </div>
                    </div>
                    {% endfor %}

                    
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->

{% endblock %}
