{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}
{# {% form_theme form 'bootstrap_4_layout.html.twig' %} #}
{% block body %}
	<div class="container">
		<h1>Inscription</h1>
		{% if notification %}
			<div class="alert alert-info">
				{{ notification }}
			</div>
		{% endif %}
        {{ form(form) }}
	</div>
{% endblock %}
