{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<div class="container-fluid ">
		{% for message in app.flashes('notice') %}
			<div class="alert alert-info">
				{{ message }}
			</div>
		{% endfor %}
		<h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
			<span class="bg-secondary pr-3">Contactez-nous</span>
		</h2>
		<div class="row px-xl-5">
			<div class="col-lg-7 mb-5">
				<div class="contact-form bg-light p-30">
					<div id="success"></div>
					{{ form(form) }}
					</div>
				</div>
				<div class="col-lg-5 mb-5">
					<div class="bg-light p-30 mb-30">
						<iframe style="width: 100%; height: 250px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5968.076946132525!2d47.50779699014714!3d-18.921144817487157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x21f07e6b7b985ce1%3A0xc043d2c2e06bf51!2sAndavamamba%2C%20Antananarivo%2C%20Madagascar!5e1!3m2!1sen!2sbd!4v1682363707188!5m2!1sen!2sbd" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
					</div>
					<div class="bg-light p-30 mb-3">
						<p class="mb-2">
							<i class="fa fa-map-marker-alt text-primary mr-3"></i>Madagascar</p>
						<p class="mb-2">
							<i class="fa fa-envelope text-primary mr-3"></i>tsioryrovantsoa@gmail.com</p>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
